<%- include("partials/header.ejs") %>
    
    <div class="heading">
        <h1><%= currentDate %></h1>
    </div>
    
    
    <!-- <=% for(let i=0; i < locals.dataOfTask.length ; i++){ %>
        <ul>
            <div class="taskbox text-button">
                <input type="checkbox" name="taskCompleted" label="taskCompleted">
                <li><= dataOfTask[i].name %></li>
            </div>
        </ul>
    <=% } %> -->

        <% locals.dataOfTask.forEach((task)=>{ %>
            <form action="/delete" method="POST">
                <div class="taskbox text-button">
                    <input type="checkbox" onChange="this.form.submit()" value="<%= task._id %>" name="taskCompleted" label="taskCompleted">
                    <li><%= task.name %></li>
                </div>
                <input type="hidden" name="list" value="<%= currentDate %>"></input>
            </form>
        <% }) %>
        <form action="/" method="POST">
            <div class="text-button">
            <input class="taskbox" type="text" name="newItem" placeholder="Enter the task here" autocomplete="off">
            <button class="taskButton" type="submit" name="list" value="<%= currentDate %>">+</button>
            </div>
        </form>
        
    
<%- include("partials/footer.ejs") %>